* {
    margin: 0;
    font-family: "Montserrat", sans-serif;;
}

body {
    background-color: #212428;
}

.logo img {
    border: 2px solid lightgray;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.navigation-container {
    height: 80px;
    display: flex;
    color: rgb(196 207 222);
    border: 2px solid #212428;
    box-shadow: 5px 5px 5px #23262a;
    top: 0;
    position: sticky;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 0 0 30px;
}

.logo-name {
    text-transform: uppercase;
}

.nav-bar {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 700px;
}

.nav-bar ul {
    display: flex;
    gap: 40px;
}

.nav-bar ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}

.nav-bar ul li a {
    text-decoration: none;
    color: rgb(149, 142, 142);
}
.nav-bar ul li a:hover{
    color: rgb(230, 221, 221);
}
.btn-primary{
    height: 50px;
    padding: 0 15px;
    background-color: #212428;
    border-radius: 8px;
    color: #ff014f;
    font-size: 16px;
    border: 2px solid #2c2f33;
    box-shadow: 10px 10px 10px #23262a;
    margin-left: 10px;
}
.btn-primary:hover{
    transform: scale(1.1);
    background-color: rgb(33, 36, 40);
    cursor: pointer;
}
.banner-container{
    display: flex;
    gap: 50px;
    margin-top: 80px;
    margin-left: 60px;
}
.banner-details{
    padding: 50px 60px 0 80px;
    margin-right: 110px;
    
}
.banner-image img{
    margin-right: 120px;
}
.banner-sub-title{
    color: rgb(149, 142, 142);
    font-size: 16px;
    margin-bottom: 20px;
    opacity: 0.9;
}
.banner-title{
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
}
.banner-description{
    color: rgb(149, 142, 142);
    font-size: 16px;
    opacity: 0.9;
    margin-top: 20px;
}
.contact-item{
    margin-top: 30px;
}
.contact-title{
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: rgb(149, 142, 142);
}
.contact-item a i{
    margin-right: 20px;
    border: 2px solid #1e2022;
    padding: 20px 20px;
    background-color: #18191b;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #45464799;
}
.contact-item a i:hover{
    transform: translateY(-5px);
    border: 2px solid #45464799;
    background-color: #1e1f22;
}
hr{
    margin: 70px 80px;
    border: 0.1px solid rgb(0, 0, 0);
}